<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vrfa">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_icon"
        android:label="가구배치"
        android:roundIcon="@mipmap/ic_launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="landscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".SelectFurniture"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".WebCrawling"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".CustomPopup"
            android:theme="@android:style/Theme.Dialog">
        </activity>

        <provider
            android:authorities="com.example.vrfa"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>